/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    width: 100%;
    height: 400px;
    padding: 60px 60px;
    background-color: #1E293B;
    font-family: "Inter";
}

footer .logo-container,
footer .help-container ul,
footer .programs-container ul,
footer .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

footer .logo-container {
    width: 416px;
    height: 161px;
}

footer .logo-container .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
    width: 111px;
    height: 40px;
    /* margin-top: 8px; */
}

footer .logo-container .logo h2 {
    font-size: 23px;
    font-weight: normal;
    color: white;
}

footer .logo-container p {
    font-size: 14px;
    line-height: 1.5;
    color: #CBD5E1;
}

footer .help-container,
footer .programs-container {
    white-space: nowrap;
}

footer .help-container h2,
footer .programs-container h2,
footer .contact-container h2 {
    font-size: 18px;
    font-weight: semiBold;
    color: #CBD5E1;
}

footer .help-container ul,
footer .programs-container ul {
    gap: 16px;
    margin-top: 16px;
}

footer .help-container ul a,
footer .programs-container ul a,
footer .contact-container p {
    text-decoration: none;
    font-size: 14px;
    color: #CBD5E1;
}

footer .contact-container p {
    margin-top: 8px;
}

footer .contact-container a {
    margin-top: 24px;
}

/* --- Responsive Footer --- */

@media (max-width: 1024px) {
    footer {
        padding: 40px 30px;
        height: auto; 
        flex-wrap: wrap;
        gap: 40px;
    }

    footer .logo-container {
        width: 100%; 
        height: auto;
    }
}

@media (max-width: 640px) {
    footer {
        flex-direction: column; 
        align-items: flex-start;
        padding: 40px 20px;
    }

    footer .help-container,
    footer .programs-container,
    footer .contact-container {
        width: 100%;
    }

    footer .logo-container p {
        max-width: 300px; 
    }
}